html {
    background: black;
    color: #07AEE6;
    font-family: "Arial";
    font-size: 14px;
    cursor: pointer;
}

img {
    height: 10%;
    width: 10%;
    cursor: none;
}

#navbar {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #07AEE6;
}

a {
    text-decoration: none;
    color: #07AEE6;
    font-size: 20px;
}

span {
    margin: 0% 1%;
}

.roster_athlete_name {
    margin-top: -2%;
}

.roster_athlete_class {
    margin-top: -4%;
}

.roster_list {
    margin-bottom: 0.7%;
}

.stats_athlete_name {
    margin-top: 0%;
}

.radio {
    margin-left: 0.5%;
    margin-top: 0.5%;
    height: 2%;
    width: 2%;
}

button {
    background: #07AEE6;
    border-radius: 4px;
    border: none;
}

.athlete_info {
    position: fixed;
    top: 30%;
    left: 30%;
    height: 65%;
    width: 35%;
    border: 2px solid #07AEE6;
    padding: 2px;
}

.athlete_info_tab {
    position: relative;
    top: -20px;
    right: -182px;
    height: 10px;
    width: 25px;
    margin-left: 0px;
    border: 2px solid #07AEE6;
    padding: 1px 2px 0px 2px;
    letter-spacing: 1px;
}

#emergency_info_tab {
    color: #F21D1D;
}

.season_info_span {
    margin-left: 10%;
    border: 2px solid #07AEE6;
    padding: 1px 2px 0px 2px;
    letter-spacing: 1px;
}

.injured {
    color: #F21D1D;
}

table, th, td {
    position: relative;
    margin: 0 auto;
    border: 1px solid #07AEE6;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
}

.schedule_table {
    position: absolute;
    top: 25%;
    left: 18%;
    height: 100%;
    width: 70%;
}

.schedule_filter {
    position: relative;
    top: 0%;
    left: 35%;
}

.injured_athlete {
    color: red;
}

.stats_page {
    position: relative;
    width: 100%;
    height: 100%;
}

.stats_page_content {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
}

.athlete_results {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 30%;
    height: 70%;
    padding: 5px;
    border: 2px solid #07AEE6;
    overflow: auto;
}

.add_athlete_results {
    position: fixed;
    width: 15%;
    height: 42%;
    top: 35%;
    right: 20%;
    padding: 5px;
    border: 2px solid #07AEE6;
}

#contact_form {
    margin-top: 15%;
    text-align: center;
}

.contact_us {
    position: absolute;
    height: 40%;
    width: 30%;
    top: 30%;
    left: 35%;
    border: 2px solid #07AEE6;
}

.logout {
    font-size: 12px;
    position: fixed;
    top: 15%;
    right: 15%;
}

.home_logo {
    position: fixed;
    left: 40%;
    top: 15%;
    height: 40%;
    width: 20%;
}

.login_button {
    position: fixed;
    height: 5%;
    width: 5%;
    top: 6%;
    right: 6%;
    font-size: 16px;
}

.home_info_box {
    display: inline-block;
    position: fixed;
    top: 60%;
    height: 35%;
    width: 20%;
    border: 1px solid #07AEE6;
    border-radius: 15px;
}

.roster_box {
    left: 10%;
}

.schedule_box {
    left: 30%;
    margin-left: 10%;
}

.stats_box {
    left: 50%;
    margin-left: 20%;
}

.info_box_content > h2 {
    text-align: center;
}

li {
    margin-bottom: 10%;
}