<button class="login_button"><a href="#/login">Login</a></button>
<img class="home_logo" src="././KeepTrackLogo.png"/>
<span class="home_info_box roster_box">
    <div class="info_box_content">
        <h2><u>Roster</u></h2>
        <ul>
            <li>Monitor injuries</li>
            <li>Lose the attendance book</li>
            <li>Store contact info</li>
        </ul>
    </div>
</span>
<span class="home_info_box schedule_box">
    <div class="info_box_content">
        <h2><u>Schedule</u></h2>
        <ul>
            <li>Quickly view meet dates, times, and locations</li>
            <li>Add team score/ranking</li>
        </ul>
    </div>
</span>
<span class="home_info_box stats_box">
    <div class="info_box_content">
        <h2><u>Stats</u></h2>
        <ul>
            <li>No more tedious spreadsheets</li>
            <li>View an athlete's lifetime performances by date or result</li>
            <li>See your team's top performers in each event</li>
        </ul>
    </div>
</span>