<div>
    Email: <br> <input type="email" ng-model="user.email"><br><br>
    Password: <br> <input type="password" ng-model="user.password"><br><br>
    <button ng-click="loginUser(user)">Login</button>
</div>

<br><br>
                    
<div>
    Email: <br> <input type="email" ng-model="user.email"><br><br>
    Password: <br> <input type="password" ng-model="user.passsword"><br><br>
    Confirm Password: <br> <input type="password" ng-model="user.password"><br><br>
    <button ng-click="createUser(user)">Sign Up</button>
</div> 